.page--quiz {
	.page-body {
		@apply container;
	}

	.quiz-settings {
		@apply flex justify-between;
		@apply mb-8;
	}

	.quiz-view {
		@apply flex;
	}

	.quiz-view__button {
		@apply flex items-center justify-center;
		@apply w-8 h-8;
		@apply p-0.5;
		@apply border;
		@apply text-gray-400;
		@apply transition-colors;

		&--active {
			@apply bg-gray-200 text-slate-950;
		}
	}

	.quiz-filter {
		@apply flex gap-4;
	}

	.quiz-body {
		@apply grid gap-4;

		.item__image {
			@apply relative;
			@apply w-full h-full;
			@apply overflow-hidden;
			@apply bg-center bg-cover bg-no-repeat;
			@apply transition-transform;

			&::before {
				content: "";
				@apply absolute top-0 left-0;
				@apply opacity-40;
				@apply w-full h-full;
				@apply bg-slate-950;
			}
		}

		.item__image--empty-0 {
			background-image: url('https://images.unsplash.com/photo-1487552292919-eccbbd948cba?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-1 {
			background-image: url('https://images.unsplash.com/photo-1533158326339-7f3cf2404354?q=80&w=468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-2 {
			background-image: url('https://images.unsplash.com/photo-1500042963151-dd617fcc1dde?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-3 {
			background-image: url('https://images.unsplash.com/photo-1509266044497-ed3d3ab3471e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-4 {
			background-image: url('https://images.unsplash.com/photo-1486848538113-ce1a4923fbc5?q=80&w=449&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-5 {
			background-image: url('https://images.unsplash.com/photo-1519750783826-e2420f4d687f?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-6 {
			background-image: url('https://images.unsplash.com/photo-1505909182942-e2f09aee3e89?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-7 {
			background-image: url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-8 {
			background-image: url('https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?q=80&w=410&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__image--empty-9 {
			background-image: url('https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		}

		.item__body {
			@apply relative;
			@apply flex flex-col justify-between;
			@apply z-10;
			@apply w-full h-full;
			@apply p-4;
		}

		.item__footer {
			@apply mb-12;
		}

		.item__title {
			@apply font-semibold;
			@apply break-words;
			@apply overflow-hidden text-ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.item__chips {
			@apply flex flex-wrap gap-2;
		}

		.item__chip {
			@apply flex gap-1;
			@apply px-2 py-1;
			@apply bg-slate-300 bg-opacity-50;
			@apply rounded-2xl;
			@apply text-xs;
		}

		.item__controls {
			@apply opacity-0;
			@apply absolute -bottom-4 right-4;
			@apply flex gap-2;
		}

		&--grid {
			@apply grid-cols-4;
			@apply text-slate-200;

			.item__body {
				@apply flex flex-col gap-2;
			}

			.item__image {
				@apply absolute;
			}

			.item__controls {
				transition:
								bottom 50ms ease-in-out,
								opacity 100ms ease-in-out;
			}
		}

		&--side {
			@apply grid-cols-2;
			@apply text-slate-700;

			.item__image {
				@apply w-1/2;
				&:before {
					@apply opacity-10;
				}
			}

			.item__body {
				@apply w-1/2;
				@apply bg-slate-100;
			}

			.quiz-card {
				@apply flex;
			}

			.item__controls {
				@apply static;
				@apply opacity-100;
				@apply mt-8;
			}

			.item__footer {
				@apply mb-0;
			}
		}
	}

	.quiz-card {
		@apply relative;
		@apply w-full h-72;
		@apply overflow-hidden;

		&:hover {
			.item__image {
				@apply scale-110;
			}

			.item__controls {
				@apply opacity-100;
				@apply bottom-4;
			}
		}
	}

	.item__group {
		@apply mt-2;
	}

	.item {
		@apply mb-3;
		@apply w-fit;
		@apply text-gray-400;
		@apply border-b border-transparent;
		@apply cursor-pointer;
		transition: color 200ms ease-in-out;

		&--active {
			@apply text-slate-950;
			@apply border-slate-950;
		}
	}
}
