.sign-page {
	@apply h-screen;
	@apply overflow-hidden;
	@apply grid grid-cols-2;
}

.sign-page__cover {
	padding-bottom: 56%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #F3F5F7;
}

.sign-page__body {
	@apply ps-20 pe-40 my-auto;
}

.sign-page-body__title {
	@apply mb-6;
}

.sign-page-body__subtitle {
	@apply text-slate-600;
}

.sign-page-body__link {
	@apply text-green-600;

	&:hover {
		text-decoration: underline;
	}
}

.auth-form {
	@apply mt-8;

	.input-group {
		@apply mb-8;
	}

	.checkbox-group {
		@apply mt-12;
	}

	.button {
		@apply mt-8;
	}
}

.auth-form__options {
	@apply flex justify-between;
}

.auth-form__error {
	li {
		animation: shake 150ms;
	}
}

.auth-form-options__link {
	@apply text-sm font-semibold;

	&:hover {
		text-decoration: underline;
	}
}

