.banner-grid {
	@apply container;
	@apply grid grid-cols-2 grid-rows-2 gap-6;
}

.product-card {
	@apply w-full;
	padding-bottom: 56%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #F3F5F7;
}

.product-text {
	@apply absolute;
	@apply mt-12 ml-12;
}

.product-title {
	@apply mb-2;
}

.product-card--large {
	@apply col-start-1 col-end-2;
	@apply row-start-1 row-end-3;
}

.product-card--medium:nth-child(1) {
	@apply col-start-2 col-end-3;
	@apply row-start-1 row-end-2;
}

.product-card--medium:nth-child(2) {
	@apply col-start-2 col-end-3;
	@apply row-start-2 row-end-3;
}
