.carousel {
	@apply mt-12;
}

.carousel__header {
	@apply container;
	@apply flex justify-between items-end;
	@apply mb-12;

	.button {
		@apply h-min;
	}
}

.carousel__controls {
	@apply flex;
}

.carousel__control {
	@apply cursor-pointer;
}

.carousel__items {
	@apply relative;
	@apply overflow-x-scroll;
	@apply flex gap-6;
	@apply mb-14;
	@apply snap-mandatory snap-x;
	transition: left 800ms ease-in-out;

	&::-webkit-scrollbar {
		display: none;
	}
}

.carousel__item {
	@apply flex flex-col justify-between;
	@apply shrink-0;
	@apply cursor-pointer;
	@apply snap-start;
	scroll-snap-stop: always;

	&:hover {
		.button {
			opacity: 1;
		}
	}

	.button {
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}
}

.card {
	@apply flex flex-col justify-between grow;
	@apply w-64;
	background-color: #F3F5F7;
}

.card__top {
	@apply flex;
	@apply px-4 pt-4;
}

.card__bottom {
	@apply relative;
	@apply px-4;
	@apply bottom-4;
}

.card__image {
	@apply h-44;
	@apply object-contain;
}

.carousel-item__info {
	@apply flex flex-col gap-1;
	@apply mt-2;
}

.carousel-item__rating {
	@apply flex gap-1;

	.rating__star--full::before {
		content: url('@/components/icon/star.svg');
	}

	.rating__star--empty::before {
		content: url('@/components/icon/star-empty.svg');
	}
}

.card__labels {
	@apply flex flex-col;
}

.card__label {
	@apply w-min;
	@apply py-1 px-3.5;
	@apply mb-2;
	@apply rounded;
	@apply font-semibold text-center;

	&--regular {
		@apply bg-white;
		@apply text-slate-950;
	}

	&--sale {
		@apply bg-green-400;
		@apply text-slate-50;
	}
}

.carousel__item--more {
	.card {
		@apply flex-row items-center justify-center;
	}

	.button {
		@apply opacity-100;
	}

	.carousel-item__info {
		@apply h-20;
	}
}

.carousel-item__name {
	@apply font-semibold;
}

.carousel-item__price {
	@apply flex gap-2;
}

.carousel-item__new-price {
	@apply font-semibold;
}

.carousel-item__old-price {
	@apply text-slate-500;
	@apply line-through;

}
