.input-group {
	@apply relative;

	&--light {
		.input__wrapper {
			@apply border-slate-100;
		}

		input {
			&::placeholder {
				@apply text-slate-500;
			}
		}

		.first-element,
		.last-element {
			@apply text-slate-500;
		}
	}

	&--brown {
		.input__wrapper {
			@apply border-b-stone-500;
		}

		input {
			&::placeholder {
				@apply text-stone-500;
			}
		}

		.first-element,
		.last-element {
			@apply text-stone-500;
		}
	}

	input {
		@apply z-10;
		@apply w-full;
		@apply py-2 px-1;
		@apply bg-transparent;
		@apply outline-0;
	}

	.input__wrapper {
		@apply flex items-end gap-1;
		@apply ps-1 pe-2;
		@apply border-b-2;
	}

	.first-element,
	.last-element {
		@apply shrink-0;
		@apply mb-2;
	}

	.last-element {
		@apply flex items-center gap-1;
	}

	.input-error {
		@apply absolute;
		@apply mt-2;
		@apply text-xs text-red-700;

		li {
			animation: shake 150ms;
		}
	}

	&--invalid {
		.input__wrapper {
			@apply border-red-700;
		}

		input {
			@apply text-red-700;
			@apply outline-0;

			&::placeholder {
				@apply text-red-700;
			}
		}
	}
}

@keyframes shake {
	0% {
		margin-left: 0;
	}
	25% {
		margin-left: 5px;
	}
	75% {
		margin-left: -5px;
	}
	100% {
		margin-left: 0;
	}
}
