.slider {
	@apply container;
	@apply mb-10;
}

.slider__wrapper {
	@apply relative;
	@apply overflow-hidden;
}

.slider__items {
	@apply relative;
	@apply flex;
	transition: left 500ms ease-in-out;
}

.slider__item {
	@apply shrink-0;
	@apply w-full h-full;
}

.slider-controls {
	top: 50%;
	transform: translateY(-50%);
	@apply absolute;
	@apply flex;
	@apply w-full;
}

.slider-control {
	top: 50%;
	transform: translateY(-50%);
	@apply bg-slate-100;
	@apply p-2;
	@apply rounded-full;

	&--prev {
		@apply absolute left-8;
	}

	&--next {
		@apply absolute right-8;
	}
}

.slider-dots {
	@apply absolute bottom-4;
	@apply flex justify-center gap-3;
	@apply w-full;
}

.slider-dot {
	@apply bg-slate-100;
	@apply w-2 h-2;
	@apply rounded-full;
	transition: width 500ms ease-in-out;

	&--active {
		@apply w-6;
	}
}

.slider__text-wrapper {
	@apply flex justify-between;
	@apply pt-8;
}

.slider__title {
	.text-gray {
		@apply text-slate-500;
	}
}

.slider__description {
	@apply my-auto;
	@apply text-lg font-light;

	.bold {
		font-weight: 600;
	}
}
