.body {
	&--overlay {
		&:before {
			content: '';
			@apply absolute;
			@apply z-20;
			@apply w-full h-full;
			@apply bg-slate-800 bg-opacity-70;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

h1 {
	@apply text-7xl;
}

h4 {
	@apply text-4xl;
}

h5 {
	@apply text-3xl;
}

h6 {
	@apply text-2xl;
}

.app--overlay {

}

@mixin image {
	@apply w-full;
	padding-bottom: 56%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
